<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Ixigo Automation Test Suite">

<listeners>
    <listener class-name="com.ixigo.listeners.TestNGListeners" />
 </listeners>


<!--<parameter name = "" value= ""></parameter> -->

	<test name="Ixigo Test Cases">
		<classes>
			<class name="com.ixigo.testcases.HomePageTest"></class>	
		</classes>
	</test>
</suite>